DataSolution/Connected Services/PDFService/ReportRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportRequestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IReportRequestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.tudirect.co.za/TUReportService/Services/ReportRequest/ReportRequestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.tudirect.co.za/TUReportService/Services/ReportRequest/ReportRequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.tudirect.co.za/TUReportService/Services/ReportRequest/ReportRequestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TUDirectReportServiceLogic.Processing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportRequestService_RequestReportLink_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReportLink" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_RequestReportLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReportLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_RequestReportBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReportBytes" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_RequestReportBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReportBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_RequestHistoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestHistoryList" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_RequestHistoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestHistoryListResponse" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_PDFReportResultProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:PDFReportResultProcess" />
  </wsdl:message>
  <wsdl:message name="IReportRequestService_PDFReportResultProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:PDFReportResultProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportRequestService">
    <wsdl:operation name="RequestReportLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportRequestService/RequestReportLink" message="tns:IReportRequestService_RequestReportLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportRequestService/RequestReportLinkResponse" message="tns:IReportRequestService_RequestReportLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestReportBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportRequestService/RequestReportBytes" message="tns:IReportRequestService_RequestReportBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportRequestService/RequestReportBytesResponse" message="tns:IReportRequestService_RequestReportBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestHistoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportRequestService/RequestHistoryList" message="tns:IReportRequestService_RequestHistoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportRequestService/RequestHistoryListResponse" message="tns:IReportRequestService_RequestHistoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PDFReportResultProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportRequestService/PDFReportResultProcess" message="tns:IReportRequestService_PDFReportResultProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportRequestService/PDFReportResultProcessResponse" message="tns:IReportRequestService_PDFReportResultProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IReportRequestService" type="tns:IReportRequestService">
    <wsp:PolicyReference URI="#WSHttpBinding_IReportRequestService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestReportLink">
      <soap12:operation soapAction="http://tempuri.org/IReportRequestService/RequestReportLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestReportBytes">
      <soap12:operation soapAction="http://tempuri.org/IReportRequestService/RequestReportBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestHistoryList">
      <soap12:operation soapAction="http://tempuri.org/IReportRequestService/RequestHistoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PDFReportResultProcess">
      <soap12:operation soapAction="http://tempuri.org/IReportRequestService/PDFReportResultProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportRequestService">
    <wsdl:port name="WSHttpBinding_IReportRequestService" binding="tns:WSHttpBinding_IReportRequestService">
      <soap12:address location="https://www.tudirect.co.za/TUReportService/Services/ReportRequest/ReportRequestService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://www.tudirect.co.za/TUReportService/Services/ReportRequest/ReportRequestService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>