DataSolution.Service/Connected Services/PDFService/ReportRequestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TUDirectReportServiceLogic.Processing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TUDirectReportServiceLogic.Processing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientRequestProcess">
    <xs:sequence>
      <xs:element minOccurs="0" name="HttpLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ReportCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientRequestProcess" nillable="true" type="tns:ClientRequestProcess" />
  <xs:complexType name="ArrayOfRequestHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestHistory" nillable="true" type="tns:RequestHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestHistory" nillable="true" type="tns:ArrayOfRequestHistory" />
  <xs:complexType name="RequestHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HttpRequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestHistory" nillable="true" type="tns:RequestHistory" />
  <xs:complexType name="ClientResultProcess">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PDFName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientResultProcess" nillable="true" type="tns:ClientResultProcess" />
</xs:schema>